{% load static %}
<!doctype html>
<html lang="en">
<meta charset="utf-8" />

<head>
  <title>GISTDA</title>

  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" type="text/css" href="{% static 'map.css' %}">
  <link rel="stylesheet" type="text/css" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css">
  <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"></script>
  <script src="https://code.jquery.com/jquery-3.3.1.min.js"> </script>
  <script src='//unpkg.com/leaflet-arc/bin/leaflet-arc.min.js'></script>

  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2"
    crossorigin="anonymous"></script>

  <script src="https://cesium.com/downloads/cesiumjs/releases/1.82/Build/Cesium/Cesium.js"></script>
  <link href="https://cesium.com/downloads/cesiumjs/releases/1.82/Build/Cesium/Widgets/widgets.css" rel="stylesheet">
  <script src="https://sandcastle.cesium.com/Sandcastle-header.js"></script>
  <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.5/jquery.min.js"></script>
</head>


<script>
  $(document).ready(function () {
    var max_fields = 10;
    var wrapper = $(".input_field_wrap");
    var add_button = $(".add_field_button");
    var x = 1;

    $(add_button).click(function (e) {
      e.preventDefault();
      if (x < max_fields) {
        x++;
        $(wrapper).append('<input class="form-control row-fluid " value="" id="show-file" style="width: 500px; overflow-y: scroll;"type="text" name="newdata' + x + '" placeholder="Input your Coordinates here." required>')
      }
      if (x === 10) {
        alert("You mustn't have more than 10 fields.")
      }
    })
  })
</script>


<body>
  <div class="row" style="background-color:rgb(123, 168, 202);">
    <h1 class="p-3 text-center">【DEMO】LAUNCHER MAP | GISTDA</h1>
    <hr>
  </div>

  <!-- <div id="map"></div> -->
  <div class="p-3 row">
    <center>
      {% comment %} <div id="map" style="height: 500px; width: 1800px"></div> {% endcomment %}
    </center>
  </div>

  <div class="p-3 row">
    <center>
      <div id="cesiumContainer" style="height: 500px; width: 1800px"></div>
    </center>
  </div>







 <form  method="POST">
    {% csrf_token %}
    <center>
      <div>

        <label for="site">Choose a launchsite : </label>

        <select class="btn btn-danger dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"
          id="site" name="site"  selected="" >
          <option value="">Please Choose a Launchsite</option>
          {% for k in data %}
          <option value="{{ k.1 }}">{{k.1}}</option>
          {% endfor %}
        </select>

      </div>

      <div class="p-3">

        <h3>Unit Testing.</h3>

        <input class="form-control row-fluid" id="show-notam" style="width: 500px; overflow-y: scroll;" type="text"
          name="newdata1" placeholder="Input your Coordinates here." required>

      </div>

      <div class="mt-3">
        <h3> Input your data.* </h3>

        <textarea class="form-control" id="show-file" name="newdata" type="text"
          style="width: 550px; overflow-y: scroll;" cols="60" rows="5" align="left"
          placeholder="Input your Coordinates here."></textarea> 

         <h3 class="p-3">Or Drag data</h3>
        <div class="file-upload-wrapper">
          <input type="file" accept=".txt" onchange="showFile()" id="input-file-now-custom-2"
            class="p-3 file-upload btn btn-secondary " style="width: 500px;" data-height="20" />
        </div> 

        {% comment %} <div class="m-3 input_field_wrap"></div> {% endcomment %}
        <div class="m-3">
          {% comment %} <button class='mt-3 add_field_button btn btn-outline-primary' style="width: 170px;">Add More
            Fields</button> {% endcomment %}
          <button class="mt-3 btn btn-outline-success" style="width: 170px;" type="submit" value= "submit">Submit</button> 
          {% comment %} <button class="mt-3 btn btn-outline-info" style="width: 170px;" onClick="test()">Test</button>
          {% endcomment %}
          <button class="mt-3 btn btn-outline-danger" style="width: 170px;" onClick="TestMyfunction()">Reset
            Fields</button>

          <button class="mt-3 btn btn-outline-warning" style="width: 170px;" onClick="NOTAM_Optimize()">Tests
            Fields</button>
        </div>
    </center>
    </div>
   
</form>





  <div class="context">
    <hr>
    <center>
      <h1>GISTDA &#169; 2022</h1>
    </center>
  </div>


  <script>
    //initial view ([latitude,longitude], zoom level)

    {% comment %} var map = L.map('map', {
      center: [13.7563, 100.5018],
      zoom: 5,
      worldCopyJump: true
    });

    var osm = L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
      attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors'
    });
    osm.addTo(map);

    var rocketIcon = L.icon({
      iconUrl: "{% static 'dj_app/media/rocket_icon.png' %}",
      iconSize: [50, 50],
      iconAnchor: [15, 30],
      popupAnchor: [0, -25],

    });

    {% for i in data %}

    var marker = L.marker([{{ i.3 }}, { { i.4 } }], { icon: rocketIcon }).addTo(map);
    marker.bindPopup("<b>{{ i.1 }}</b>");

    {% endfor %}

    {% for n in notam %}
    var polygon = L.polygon([
      {% for i in n %}
    [{{ i.0 }}, {{ i.1 }}],

      {% endfor %} 
      
        ]).addTo(map);
    polygon.setStyle({ fillColor: '#FF0000' });
    polygon.setStyle({ color: '#FF0000' });
    {% endfor %}

    L.Polyline.Arc({{ arc_coord.0}}, {{ arc_coord.1}}, {
      color: 'red',
      vertices: 100
    }).addTo(map); {% endcomment %}

  </script>


</body>

<script>

  var inputF = document.getElementById("show-file");
  function showAlert() {
    inputF.setAttribute('value', '     - No Data -     ');
    alert("=== DATA ===\n\n" + inputF.value + "\n\nYour data is Are here!");
  }

  if (window.File && window.FileReader && window.FileList && window.Blob) {
    function showFile() {
      // var preview = document.getElementById('show-text');
      var showfile = document.getElementById('show-file');
      var file = document.querySelector('input[type=file]').files[0];
      var reader = new FileReader()
      var textFile = /text.*/;

      if (file.type.match(textFile)) {
        reader.onload = function (event) {
          showfile.value = event.target.result.match(/[N,S]\d{6}[E,W]\d{7}/g, '');

        }
      } else {
        preview.innerHTML = "<h1 style='color:red;'><span  class='error'>It doesn't seem to be a text file!</span></h1>";
      }
      reader.readAsText(file);
    }
  } else {
    alert("Your browser is too old to support HTML5 File API.");
  }
  
</script>


<script>

   $("#test-form").submit(function(e) {

    e.preventDefault(); // avoid to execute the actual submit of the form.

    var form = $(this);
    var actionUrl = form.attr('#show-file');
    
    $.ajax({
        type: "POST",
        url: actionUrl,
        data: form.serialize(), // serializes the form's elements.
        success: function(data)
        {
          alert(data); // show response from the php script.
        }
    });
    
}); 


  // Decimal degrees = Degrees + (Minutes/60) + (Seconds/3600)
  Cesium.Ion.defaultAccessToken = 'eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJqdGkiOiI3ZjQ3MDZlOS1jMGQyLTRmMDctODhkZi1mMWI0MDFiYTllNTMiLCJpZCI6OTE4MjMsImlhdCI6MTY1NDU4MDQzNH0.qeZfFnvOr8ZhvCqR744X_wiSBoow1c8htCGHcx7BkW4';
  // Plot Focus THAILAND.
  Cesium.Camera.DEFAULT_VIEW_RECTANGLE = Cesium.Rectangle.fromDegrees(63.076400, -31.700130, 139.064604, 52.234528);
  var viewer = new Cesium.Viewer('cesiumContainer');


  // https://www.latlong.net/ Latitude and Longitude Finder -> GPS Coordinates


  let sqllatlong = [];
  {% for i in data %}
  sqllatlong.push([{{ i.3 }},{{ i.4 }},"{{ i.1 }}"]);
  {% endfor %}

  {% comment %} console.log("TEST : "+ sqllatlong);
  console.log("TEST1 : "+ sqllatlong[0]);
  console.log("TEST2 : "+ sqllatlong[1]);
  console.log("TEST3 : "+ sqllatlong[2]); {% endcomment %}

  function test() {

    console.log("LOVE LOVE")

  }


  function button1() {

    let b1 = document.getElementById("site").value;
    

    if (b1.isEmpty() || b1 == " "){
      alert("Please Choose a Launchsite");
    }

   
    console.log(b1);

  }




  async function loadModel() {

      // FOR TEST ONLY
  
    // FOR TEST ONLY


     

     var coord_A = [13.7563,100.5018];
     var coord_B = [13.7563, 45.55];

  const resource = await Cesium.IonResource.fromAssetId(1121948);

  for (let k = 0; k < sqllatlong.length; k++) {

       const polyLineDistance = viewer.entities.add({
        name: "PolyLine Distance THAILAND to ETC.",
        polyline: {
          // This callback updates positions each frame.
            positions: Cesium.Cartesian3.fromDegreesArray([coord_A[1], coord_A[0], coord_B[1], coord_B[0]]),
           //positions: Cesium.Cartesian3.fromDegreesArray([102, 28.2, 100.5018,13.7563]),
          material: Cesium.Color.fromRandom({ alpha: 1.0 }),
          width: 3,
        },
      });   

      const objectEntity = viewer.entities.add({
        model: { uri: resource, minimumPixelSize: 80, maximumPixelSize: 80 },
        position: Cesium.Cartesian3.fromDegrees(sqllatlong[k][1], sqllatlong[k][0], 0),
        name: "Test",
      });  

      const outlineOnly = viewer.entities.add({
        name: sqllatlong[k][2],
        position: Cesium.Cartesian3.fromDegrees(sqllatlong[k][1], sqllatlong[k][0], 0),
        plane: { 
        plane: new Cesium.Plane(Cesium.Cartesian3.UNIT_Z, 0),
          dimensions: new Cesium.Cartesian2(200000.0, 200000.0),
            fill: false,
              outline: true,
                outlineColor: Cesium.Color.YELLOW,
        },    
      });

    }  

    console.log("From: " + coord_A + " Destination: " + coord_B);
   
  }

  var options = [];
  var options_testInput = [];

  function menubarTab() {

    var prizes = "Gran Canaria, Gando AFB";
    for (let k = 0; k < sqllatlong.length; k++) {
      options.push({
        text: sqllatlong[k][2]
      })
    }
    {% comment %} console.log(prizes); {% endcomment %}
  }
  // manage function

  
  {% comment %} menubarTab(); {% endcomment %}

  {% comment %} Sandcastle.addToolbarMenu(options, 'toolbar'); {% endcomment %}


  var testCoordNotam = [];

  {% comment %} {% for n in notam %}
  {% for i in n %}
  testCoordNotam.push({
    long_notam: {{ i.1 }},
    latt_notam : {{ i.0 }},
      })
  {% endfor %}
  {% endfor %} {% endcomment %}

  const testinput = "N123000E0824000 N131500E0825000 N124500E0841000 N120000E0840000 N130500E0851000 + N113500E0850000 N122500E0851000 N114500E0871500 N105500E0870500 N181000E0942000 + N081000E0942000 N090000E0944000 N082500E0961500 N073500E0955500 N065000E0824000";
  var testPolygon = viewer.entities.add(new Cesium.Entity());
  testPolygon._id = "PolygonSet";

  function NOTAM_Optimize() {
    TestMyfunction();

    var calculate_latt = [];
    var calculate_long = [];


    let testinput1 = document.getElementById("show-notam").value;
    console.log(testinput1);

    var testinput_splited = testinput1.split("+");
    console.log(testinput_splited);

    for (let t = 0; t < (testinput_splited.length); t++) {
      let polygon_list = testinput_splited[t].split(' ').filter(function (i) { return i })
      {% comment %} console.log(polygon_list); {% endcomment %}
      var sum_coordinate = []

      {% comment %} if (polygon_list.length < 3) {
        console.log("This Polygon : " + polygon_list + " Must more than 2 angles.");
        alert("This Polygon : " + polygon_list + " Must more than 2 angles.");
        break;
      }
      else if (polygon_list.length >= 3) {
        console.log(polygon_list);

      } {% endcomment %}


      console.log( "Poloygon Number : " + (t+1))

      for (let u = 0; u < polygon_list.length; u++) {

        let upolygon = polygon_list[u];

        console.log("NOTAM : " + upolygon);

        // Decimal degrees = Degrees + (Minutes/60) + (Seconds/3600)

        var DMS_Latt = 0;
        var DMS_Long = 0;
        if (upolygon[7] === "E") {
          DMS_Long = parseFloat(upolygon[8] + upolygon[9] + upolygon[10]) + (parseFloat(upolygon[11] + upolygon[12]) / 60) + (parseFloat(upolygon[13] + upolygon[14]) / 3600);
          console.log("Longitude : " + DMS_Long);
        }
        else if (upolygon[0] === "W") {
          DMS_Long = -1 * (parseFloat(upolygon[8] + upolygon[9] + upolygon[10]) + (parseFloat(upolygon[11] + upolygon[12]) / 60) + (parseFloat(upolygon[13] + upolygon[14]) / 3600));
          console.log("Longitude : " + DMS_Long);
        }
        sum_coordinate.push(DMS_Long)

        if (upolygon[0] === "N") {
          DMS_Latt = parseFloat(upolygon[1] + upolygon[2]) + (parseFloat(upolygon[3] + upolygon[4]) / 60) + (parseFloat(upolygon[5] + upolygon[6]) / 3600);
          console.log("Latitude : " + DMS_Latt);
        }
        else if (upolygon[0] === "S") {
          DMS_Latt = -1 * (parseFloat(upolygon[1] + upolygon[2]) + (parseFloat(upolygon[3] + upolygon[4]) / 60) + (parseFloat(upolygon[5] + upolygon[6]) / 3600));
          console.log("Latitude : " + DMS_Latt);
        }
        sum_coordinate.push(DMS_Latt)


        {% comment %} testCoordNotam.push({
          "long_notam": DMS_Long,
          "latt_notam": DMS_Latt,
        }) {% endcomment %}

        {% comment %} console.log(testCoordNotam); {% endcomment %}

        var Latitude = DMS_Latt;
        var Longitude = DMS_Long;
      }
      
      //testPolygon.removeAll();
      console.log(testPolygon)

      viewer.entities.add({
        parent: testPolygon,
        name: "Red Red RUN!!",
        id: "polypolyjaa"+[t],
        polygon: {
          hierarchy: Cesium.Cartesian3.fromDegreesArray(sum_coordinate),
          material: Cesium.Color.RED.withAlpha(0.5),
          height: 0,
          outline: true,
          outlineWidth: 50,
          outlineColor: Cesium.Color.RED,
        },
      });

      {% comment %} const dict_values = { Latitude, Longitude };
      const stringJSON = JSON.stringify(testCoordNotam);
      console.log(stringJSON);
      window.alert(stringJSON);
      $.ajax({
        url: "/test",
        type: "POST",
        contentType: "application/json",
        data: JSON.stringify(stringJSON)
      }); {% endcomment %}


    }
    console.log(testPolygon)
    
  }
  
  
  function TestMyfunction() {
    var countNum1 = 10;
    for(let countPoly = 0; countPoly < countNum1 ; countPoly++){
      viewer.entities.removeById("polypolyjaa"+[countPoly])
     
    }
       
   }
 
  {% comment %} console.log(testinput1.split("+")); {% endcomment %}

  var preview = document.getElementById('show-text');


  {% comment %} https://sandcastle.cesium.com/?src=Picking.html
  https://sandcastle.cesium.com/?src=Callback%20Property.html {% endcomment %}


</script>


</html>